*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
