@import 'tailwindcss';

@theme {
  --font-sans: 'Instrument Sans', system-ui, sans-serif;
  --font-mono: 'Commit Mono', ui-monospace, monospace;
}

.page-layout {
  --header-height: --spacing(13);
  --content-width: var(--container-5xl);
  --page-gutter: --spacing(4);
}

@media (min-width: 48rem) {
  .page-layout {
    --header-height: --spacing(17);
    --page-gutter: --spacing(12);
  }
}

@utility page-gutter {
  padding-inline: var(--page-gutter);
}

@utility content-layout {
  margin-inline: auto;
  max-width: var(--content-width);
  width: 100%;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-[#090909] font-sans font-normal leading-normal text-[#f4f4f4];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}
